@import "variables";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: white;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    width: 95vw;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: $color-dark;
}

.heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}

.statblock {
    margin: 3rem 0;
    width: 100%;
    background-image: 
        linear-gradient(
            to right bottom,
            rgba($color-main, 0.8),
            rgba($color-alt, 0.8));

    transition: all 0.3s;

    &:hover {
        transform: scale(1.05);
    }
}

.device, .register {
    background-color: grey;
    padding: 1.2rem;

    & h2 {
        font-size: 3rem;
    }    
}

.row {
    & .col {
        display: inline-block;
    }
}

.btn {
    font-size: 2rem;
    background-color: $color-light;
    padding: 1rem;
    border-radius: .5rem;

    &.btn--primary {
        font-size: 3rem;
    }
}


